
<div class="banniere">
<p> La solution Ulost - Fonctionnement </p>
</div>
	
	{% image 'images/fonctionnement/A.png' %}
		<img src="{{ asset_url }}" class="fonctionnement" />
	{% endimage %}
	
	{% image 'images/fonctionnement/B.png' %}
		<img src="{{ asset_url }}" class="fonctionnement" />
	{% endimage %}
	
	</br>
	
	{% image 'images/fonctionnement/C.png' %}
		<img src="{{ asset_url }}" class="fonctionnement" />
	{% endimage %}
	
	{% image 'images/fonctionnement/D.png' %}
		<img src="{{ asset_url }}" class="fonctionnement" />
	{% endimage %}
	
	</br>
	
	{% image 'images/fonctionnement/E.png' %}
		<img src="{{ asset_url }}" class="fonctionnement" />
	{% endimage %}
	{% image 'images/fonctionnement/F.png' %}
		<img src="{{ asset_url }}" class="fonctionnement" />
	{% endimage %}
	
	</br>
	
	{% image 'images/fonctionnement/G.png' %}
		<img src="{{ asset_url }}" class="fonctionnement_fin" />
	{% endimage %}