<h3>Formulaire de FAQ</h3>


<div class="well">


    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.question) }}
    {{ form_row(form.reponse) }}


    {{ form_end(form) }}

</div>



