<div id="menu_accueil">
    <a href="#menu" id="toggle"><span></span></a>

    <div id="menu">
        <ul>
            <li><a href="{{ path('ulost_home') }}">Accueil du site</a></li>


            <li><a href="{{ path('ulost_annonce_object', {'status': 'found'}) }}">J'ai trouvé un objet</a></li>
            <li><a href="{{ path('ulost_annonce_object', {'status': 'lost'}) }}">J'ai perdu un objet</a></li>

            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('ulost_admin_homepage') }}">Administration</a></li>
            {% endif %}


            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li><a href="{{ path('ulost_user_profil') }}">Mon Profil</a></li>
                {% if is_granted("ROLE_VILLE") %}
                    <li><a href="{{ path('ulost_index_emploi') }}">Mes emplois</a></li>
                {% endif %}
                <li><a href="{{ path('ulost_user_annonce') }}"> Mes annonces </a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            {% else %}

                <li><a href="{{ path('ulost_user_login') }}">Se Connecter</a></li>

                <li><a href="{{ path('ulost_user_register') }}">S'inscrire</a></li>

            {% endif %}
        </ul>
    </div>
</div>

