{# src/Ulost/AdminBundle/Resources/views/Objet/showone.html.twig #}



    <tr>
		<td> {{question.id}} </td>
		<td> {{ question.question }}</td>
		<td> {{ question.codehtml }}</td>
		<td> {{ question.rep1 }}</td>
		<td> {{ question.rep2 }}</td>
		<td> {{ question.rep3 }}</td>
		<td> {{ question.rep4 }}</td>
		<td> {{ question.rep5 }}</td>
		<td> {{ question.rep6 }}</td>
		<td> {{ question.rep7 }}</td>
		<td> {{ question.rep8 }}</td>
		<td> {{ question.rep9 }}</td>
		<td> {{ question.rep10 }}</td>
	</tr>	
