{# src/Ulost/AdminBundle/Resources/views/User/showone.html.twig #}

{% extends "UlostAdminBundle::layout.html.twig" %}
{% block body %}

<h1>liste des utilisateurs  </h1>
    <table>
		<tr>
			<td> id </td>
			<td> nom </td> 
			<td> mail </td>
			<td> role </td>
			<td> last login </td>
		<tr>
		<tr>
			<td> {{ user.Id }} </td>
			<td> {{ user.username }} </td>
			<td> {{ user.email }} </td>
			<td>  {{ user.getRoles[0] }} </td>
			<td> {{ user.lastLogin|date('Y-m-d H:i:s') }} </td>
		</tr>			
	</table>


{% endblock %}