{% if pagination.getTotalItemCount == 0 %}
<div>
    Il n'y a pas encore de correspondances à afficher
</div>
{% else %}
<table>
    <tr>
        <th>
            <div class="count">
                {{ 'Nombre de correspondances total : ' }} {{ pagination.getTotalItemCount }}
                </div>
        </th>

        <table>
            <tr>
                {# sorting of properties based on query components #}
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                <th{% if pagination.isSorted('a.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Status', 'a.status') }}</th>
                <th{% if pagination.isSorted('u.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Utilisateur', 'u.name') }}</th>
                <th{% if pagination.isSorted('a.date') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date de publication', 'a.date') }}</th>
                <th{% if pagination.isSorted('o.typeObjet') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Type d\'objet', 'o.typeObjet') }}</th>
                <th{% if pagination.isSorted('a.published') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Publiée', 'a.published') }}</th>
                <th{% if pagination.isSorted('v.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Ville', 'v.name') }}</th>

            </tr>
            {# table body #}
            {% for annonceCorrespondance in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                <tr>
                    {{ render(controller("UlostCorrespondanceBundle:Correspondance:showMetaAnnoncesCorrespondantes", {'annonce_id': annonceCorrespondance.id, 'annonceParent':annonceParent})) }}
                </tr>
                </tr>
            {% endfor %}
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </tr>
</table>
{% endif %}
