{% extends "UlostObjectBundle::layout.html.twig" %}
 {% block Core_body %}
     <h1>Modification de l'emploi {{ emploi.role }} pour l'utilisateur {{ emploi.user.username }}</h1>
     <a href="{{ path('ulost_view_service', {id:emploi.service.id}) }}" class="button">Retour au Services </a>
     <a href="{{ path('ulost_remove_emploi', {id:emploi.id}) }}" class="button">Supprimer l'emploi </a>
     <h3>Formulaire de Service</h3>


     <div class="well">



         {{ form_start(form) }}
         {{ form_errors(form) }}
         {{ form_row(form.role) }}



         {{ form_end(form) }}

     </div>



 {% endblock %}
