{# src/Ulost/AdminBundle/Resources/views/Objet/showall.html.twig #}




    <td>{{ annonce.question1}}</td>
    <td>{{ annonce.question2}}</td>
    <td>{{ annonce.question3}}</td>
    <td>{{ annonce.question4}}</td>
    <td>{{ annonce.question5}}</td>
    <td>{{ annonce.question6}}</td>
    <td>{{ annonce.question7}}</td>
    <td>{{ annonce.question8}}</td>
    <td>{{ annonce.question9}}</td>
    <td>{{ annonce.question10}}</td>



